@import 'init'

body:not(.onios7)
  #index_top_wrapper
    .mdl-card
      min-height: ($ribbon-height / 4) + ($ribbon-height / 8)
body.onios7
  #index_top_wrapper
    .mdl-card
      min-height: ($ribbon-height-fallback / 4) + ($ribbon-height-fallback / 8)

#index_top_wrapper
  position: relative
  margin-left: auto
  margin-right: auto
  >*:not(.mdl-card)
    color: white
    text-align: center
  .mdl-card
    width: auto
    height: auto
    >div:not([class])
      padding: (16px * 2) (16px * 1.5)
      //text-align: center

#index_ribbon
  .mdl-button--fab
    @media (min-width: 675px)
      position: absolute
      top: auto
      left: auto
      right: 5vw
      bottom: 0
      margin-bottom: -(56px / 2)
    @media (max-width: 675px)
      display: none

.index_section
  .index_section_readmore
    text-align: end
  .mdl-card
    width: auto
    min-height: 300px
    .mdl-card__title
      .mdl-card__title-text
        //white-space: nowrap
    .mdl-card__supporting-text
      width: auto
      padding-top: 0
      >div
        height: 5em
        overflow: hidden
    .mdl-card__media
      height: 8px * 7 * 2
      background-size: cover
      background-position: center center
    a
      color: inherit
      text-decoration: inherit
  h3
    .mdl-button
      font-size: inherit

.index_big_card
  .mdl-card
    .mdl-card__title
      h4
        //font-size: 2em
    .mdl-card__media
      height: 8px * 8 * 3

#index_video,
#video_video
  iframe[allowfullscreen]
    display: block
    width: 40vw
    height: calc( 40vw * 0.5625 )
    margin: 0 auto
  .share_buttons
    text-align: center
