#main
  position: relative

@media (max-width: 1024px)
  .mdl-layout__header
    display: block !important
    .mdl-layout__header-row
      padding: 0
  .mdl-layout__header--scroll
    >*:not(:last-child)
      display: none !important
    >*:last-child
      >*:not(.mdl-navigation)
        display: none
  .mdl-layout__content
    overflow: visible !important
