- content_for :head
  meta http-equiv="refresh" content="0;http://seisahachioji.github.io/seisafesta2015/booth/photo-seminar-postcard.html"
  link rel="canonical" href="http://seisahachioji.github.io/seisafesta2015/article/photo-seminar-postcard.html"
