body:not(.onios7) #index_top_wrapper .mdl-card {
  min-height: 22.5vh;
}

body.onios7 #index_top_wrapper .mdl-card {
  min-height: 60px;
}

#index_top_wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#index_top_wrapper > *:not(.mdl-card) {
  color: white;
  text-align: center;
}
#index_top_wrapper .mdl-card {
  width: auto;
  height: auto;
}
#index_top_wrapper .mdl-card > div:not([class]) {
  padding: 32px 24px;
}

@media (min-width: 675px) {
  #index_ribbon .mdl-button--fab {
    position: absolute;
    top: auto;
    left: auto;
    right: 5vw;
    bottom: 0;
    margin-bottom: -28px;
  }
}
@media (max-width: 675px) {
  #index_ribbon .mdl-button--fab {
    display: none;
  }
}

.index_section .index_section_readmore {
  text-align: end;
}
.index_section .mdl-card {
  width: auto;
  min-height: 300px;
}
.index_section .mdl-card .mdl-card__supporting-text {
  width: auto;
  padding-top: 0;
}
.index_section .mdl-card .mdl-card__supporting-text > div {
  height: 5em;
  overflow: hidden;
}
.index_section .mdl-card .mdl-card__media {
  height: 112px;
  background-size: cover;
  background-position: center center;
}
.index_section .mdl-card a {
  color: inherit;
  text-decoration: inherit;
}
.index_section h3 .mdl-button {
  font-size: inherit;
}

.index_big_card .mdl-card .mdl-card__media {
  height: 192px;
}
