.mdl-layout__container {
  z-index: 1;
}

#video_video {
  display: block;
  color: inherit;
  text-decoration: inherit;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
#video_video > a[href] {
  display: none;
}
#video_video, #video_video #video_lp {
  transition-property: background-color opacity;
  transition-duration: 0.75s;
  transition-timing-function: ease-out;
}
#video_video:not([data-show]), #video_video:not([data-show]) #video_lp {
  opacity: 0;
}
#video_video[data-show], #video_video[data-show] #video_lp {
  opacity: 1;
}
#video_video #video_lp {
  width: 65vw;
  height: calc( 65vw * 0.5625 );
  margin: calc( ( 100vh - (65vw * 0.5625) ) / 2 ) auto;
  box-shadow: 0 3px 5px black;
}
#video_video #video_share {
  position: absolute;
  height: calc( ( 100vh - (65vw * 0.5625) ) / 2 );
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
}
#video_video #video_share ul {
  height: calc( ( 100vh - (65vw * 0.5625) ) / 2 );
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: calc( ( 100vh - (65vw * 0.5625) ) / 2 );
}
#video_video #video_share li {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}
