---
layout: layout_sub
---
- page = get_static_page 'access'

- content_for :title
  = title page.title

- content_for :head
  = stylesheet_link_tag 'access'
  = partial '/partials/_meta_information', :locals => { :item => page }

- content_for :content
  div.mdl-grid
    div.mdl-cell.mdl-cell--3-col.mdl-cell--hide-tablet
    div.mdl-cell.mdl-cell--6-col
      section#access_wrapper
        h3= 'アクセス'
        div.mdl-card.mdl-shadow--2dp.access_map
          div.mdl-card__media
            | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.457869337668!2d139.27962875063903!3d35.66572633833284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019192d0bd8bb3b%3A0x3e3e1a949f3ece94!2z5a2m5qCh5rOV5Lq65Zu96Zqb5a2m5ZySIOaYn-anjumrmOWwvuOCreODo-ODs-ODkeOCuQ!5e0!3m2!1sja!2sjp!4v1447160846285" frameborder="0" style="border:0" allowfullscreen></iframe>
          div.mdl-card__supporting-text
            = Tilt['markdown'].new { page.body || '' }.render
        h3= 'バスの運行について'
        div.mdl-card.mdl-shadow--2dp.bus_map
          div.mdl-card__media
            | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.5929268112344!2d139.28126098809116!3d35.643212588620926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019195306537673%3A0x4a1cfbc8de1ef7f7!2z5pel5pysLCDjgJIxOTMtMDg0NCDmnbHkuqzpg73lhavnjovlrZDluILpq5jlsL7nlLrvvJHvvJbvvJDvvJM!5e0!3m2!1sja!2sjp!4v1447161490090" frameborder="0" style="border:0" allowfullscreen></iframe>
          div.mdl-card__supporting-text
            = Tilt['markdown'].new { page.body2 || '' }.render

    div.mdl-cell.mdl-cell--3-col.mdl-cell--hide-tablet
